services:
  acme-panos:
    image: neilpang/acme.sh
    container_name: acme-panos
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./out:/acme.sh
    command: daemon
    stdin_open: true
    tty: true

    environment:
      # DNS Provider (Domeneshop) - your existing env names
      DOMENESHOP_Token: ${DOMENESHOP_Token}
      DOMENESHOP_Secret: ${DOMENESHOP_Secret}

      # Palo Alto deploy hook credentials
      PANOS_HOST: ${PANOS_HOST}
      PANOS_USER: ${PANOS_USER}
      PANOS_PASS: ${PANOS_PASS}
      PANOS_TEMPLATE: ${PANOS_TEMPLATE}
      PANOS_TEMPLATE_STACK: ${PANOS_TEMPLATE_STACK}

      HTTPS_INSECURE: "true" # Can remove this if your PAN device mgmt interface has a valid certificate
